<!DOCTYPE html>
{% load static tailwind_tags %}

<html lang="en">
<head>
    <title>LitRevu</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="font-roboto bg-gray-100">
<nav class="bg-emerald-500 p-4 shadow-md">
    <ul class="flex justify-between items-center">
            {% if user.is_authenticated %}
        <li><a class="text-amber-50 hover:text-amber-200 font-bold" href="{% url 'feed' %}">Feed</a></li>
        <li><a class="text-amber-50 hover:text-amber-200 font-bold" href="{% url 'create_ticket' %}">Create Ticket</a>
        </li>
        <li><a class="text-amber-50 hover:text-amber-200 font-bold" href="{% url 'subscriptions' %}">Manage
            Subscriptions</a></li>
                <li>
                    <form action="{% url 'logout' %}" class="inline" method="post">
                        {% csrf_token %}
                        <button class="text-amber-50 hover:text-amber-200 font-bold bg-transparent border-none"
                                type="submit">Logout
                        </button>
                    </form>
                </li>
            {% else %}
        <li><a class="text-amber-50 hover:text-amber-200 font-bold" href="{% url 'login' %}">Login</a></li>
        <li><a class="text-amber-50 hover:text-amber-200 font-bold" href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

<div class="container mx-auto mt-8 p-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
