{% extends "base/base.html" %}
{% block content %}

<div class="max-w-2xl mx-auto bg-white rounded-lg border border-gray-200 shadow-md overflow-hidden my-4 p-5">
    <style>
        .rating {
            display: inline-flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        .star {
            cursor: pointer;
            font-size: 2rem;
            color: lightgray;
        }

        input[type="radio"]:checked ~ .star {
            color: orange;
        }
    </style>
    <h2 class="text-lg font-medium text-gray-700 mt-3">You are posting a review for: {{ ticket.title }}</h2>
    <p class="text-gray-600 mt-2">{{ ticket.description }}</p>

    {% if ticket.image %}
    <div class="flex justify-center">
        <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" class="mt-4 w-1/2 object-cover rounded-lg">
    </div>

    {% endif %}

    <form method="post" class="space-y-4 mt-6">
        {% csrf_token %}
        <h3 class="text-lg font-medium text-gray-700">Create a Review for {{ ticket.title }}</h3>
        <div class="rating">
            {% for value in "54321" %}
            <input type="radio" id="star{{ value }}" name="rating" value="{{ value }}" class="hidden"/>
            <label for="star{{ value }}" class="star">&#9733;</label>
            {% endfor %}
        </div>

        <div>
            <label for="headline" class="block text-sm font-medium text-gray-700">Headline</label>
            <textarea name="headline" id="headline"
                      class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"></textarea>
        </div>
        <div>
            <label for="body" class="block text-sm font-medium text-gray-700">Comment</label>
            <textarea name="body" id="body"
                      class="mt-1 focus:ring-sky-500 focus:border-sky-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"></textarea>
        </div>
        <button type="submit"
                class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-sky-600 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
            Submit Review
        </button>
    </form>
</div>


{% endblock %}
